backend:
  name: github
  repo: mfathy13786/okaz-store
  branch: main
  base_url: https://okaz-auth.m-fathy-13786.workers.dev
  site_domain: okaz-store.pages.dev
  auth_endpoint: api/auth

media_folder: "assets/images"
public_folder: "/assets/images"

collections:
  - name: "database"
    label: "قاعدة بيانات المتجر"
    files:
      - label: "سجل المنتجات"
        name: "products_db"
        file: "products.json"
        fields:
          - name: "items"
            label: "قائمة المنتجات (أضف منتج من هنا)"
            widget: "list"
            fields:
              - { label: "اسم المنتج", name: "title", widget: "string" }
              - { label: "السعر (جنيه)", name: "price", widget: "number" }
              - { label: "القسم", name: "category", widget: "string", default: "عام" }
              - { label: "صورة المنتج", name: "image", widget: "image" }
