backend:
  name: github
  repo: "YOUR_USERNAME/YOUR_REPO_NAME" # حط اسم حسابك واسم المستودع هنا
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "store_data"
    label: "بيانات المتجر"
    delete: false
    editor:
      preview: false
    files:
      - name: "content"
        label: "كل البيانات"
        file: "data.json"
        fields:
          - name: "categories"
            label: "1. الأقسام"
            widget: "list"
            fields:
              - { label: "اسم القسم", name: "title", widget: "string" }
              - { label: "صورة القسم", name: "image", widget: "image" }

          - name: "products"
            label: "2. المنتجات"
            widget: "list"
            fields:
              - { label: "اسم المنتج", name: "title", widget: "string" }
              - { label: "السعر", name: "price", widget: "number" }
              - label: "القسم"
                name: "category"
                widget: "select"
                options: ["قسم السيوف", "قسم العكازات", "قسم السكاكين", "خناجر", "أخرى"]
              - name: "gallery"
                label: "ألبوم صور المنتج"
                widget: "list"
                fields:
                  - { label: "صورة", name: "image", widget: "image" }
              - { label: "وصف المنتج", name: "description", widget: "text", required: false }

          - name: "shipping_rules"
            label: "3. أسعار الشحن"
            widget: "list"
            fields:
              - { label: "اسم المحافظة", name: "city", widget: "string" }
              - { label: "سعر الشحن", name: "cost", widget: "number", default: 0 }
