# إعدادات الربط مع جيت هاب وسيرفر تسجيل الدخول الخاص بك
backend:
  name: github
  repo: mfathy13786/okaz-store # اسم حسابك والمستودع
  branch: main
  # الرابط الخاص بالـ Worker اللي عملناه في كلاود فلير
  base_url: https://okaz-auth.3yuon.workers.dev 
  auth_endpoint: api/auth

# إعدادات الصور والملفات
media_folder: "assets/images" # المجلد الذي أنشأته في الريبو
public_folder: "/assets/images"

# تعريف لوحة التحكم للأستاذ صلاح
collections:
  - name: "products"
    label: "المنتجات (سوق عكاز)"
    folder: "products" # المجلد المخصص للبيانات
    create: true # للسماح بإضافة منتجات جديدة
    slug: "{{title}}"
    fields:
      - { label: "اسم المنتج", name: "title", widget: "string" }
      - { label: "السعر (جنيه)", name: "price", widget: "number" }
      - { 
          label: "القسم", 
          name: "category", 
          widget: "select", 
          options: ["قسم العكاكيز", "قسم الشوم", "قسم السباكة"] 
        }
      - { label: "صورة المنتج", name: "image", widget: "image" }
      - { label: "وصف المنتج", name: "body", widget: "markdown", required: false }
